# c# 文件
[*.cs]

# CA2211: 非常量字段应当不可见
dotnet_diagnostic.CA2211.severity = none

#### Core EditorConfig 选项 ####

# 新行首选项
insert_final_newline = true

#### .NET 编码约定 ####

# 新行首选项
csharp_new_line_before_open_brace = none
